{% extends "layout.html" %}
{% block page_content %}

  <div class="content">
                
   <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title"><center>Recommendations</center></h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:75%;">Name</th>
                                    <th style="width:50%">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>INPUT NAME HERE</td>
                                    <td>INPUT EMAIL HERE</td>
                                </tr>
                                        
                             </tbody>
                        </table>
                    </div>
                </div>

                                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-4">
                            <div class="header">
                                <img src="images/table.png">
                                </div>
                            </div>
                        </div>
                    </div>
                                    
                    <div class="col-md-6">
                        <div class="card card-4">
                            <div class="header">
                                <h4 class="title"><center>Tasks</center></h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td>Email Senator Barrett</td>
                                                <td class="td-actions text-right">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <input id="checkbox2" type="checkbox">
                                                        <label for="checkbox2"></label>
                                                    </div>
                                                </td>
                                                <td>Start a new climate campaign</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <input id="checkbox3" type="checkbox">
                                                        <label for="checkbox3"></label>
                                                    </div>
                                                </td>
                                                <td>Draft an email template
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>  
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock %}